body {
}

h3 {
    color:darkslateblue;
}

.title {
    margin-top: 0px;
    position: fixed;
    background-color: #000EB2;
    vertical-align: top;
    left: 0;
    top: 0;
    height: 4em;
    width: 100%;
    z-index:100;
}

.content {
    position:relative;
    margin-top: 4em;
}

.junk {
    display:none;
}